fastapi
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-multipart
uvicorn
alembic
python-dotenv
pytest
pytest-asyncio
httpx
pytest-cov
sqlalchemy-utils
pytest-env
python-jose[cryptography]
